[submodule "themes/hugo-renga"]
	path = themes/hugo-renga
	url = git@github.com:nanxstats/hugo-renga.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:nanxstats/nanxstats.github.io.git
	branch = master
[submodule "themes/hugo-nanx2020"]
	path = themes/hugo-nanx2020
	url = https://github.com/nanxstats/hugo-nanx2020
[submodule "themes/hugo-nanx2021"]
	path = themes/hugo-nanx2021
	url = https://github.com/nanxstats/hugo-nanx2021.git
[submodule "themes/hugo-nanx2022"]
	path = themes/hugo-nanx2022
	url = https://github.com/nanxstats/hugo-nanx2022.git
[submodule "themes/hugo-nanx2023"]
	path = themes/hugo-nanx2023
	url = https://github.com/nanxstats/hugo-nanx2023.git
[submodule "themes/hugo-nanx2026"]
	path = themes/hugo-nanx2026
	url = git@github.com:nanxstats/hugo-nanx2026.git
